In [1]:
import pandas as pd

In [3]:
old = pd.read_csv("langInfo100LC.csv")

In [4]:
old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   iso639 3              100 non-null    object
 1   glottocode            100 non-null    object
 2   wals code             100 non-null    object
 3   name glotto           100 non-null    object
 4   name wals             100 non-null    object
 5   level                 100 non-null    object
 6   status                100 non-null    object
 7   family id             91 non-null     object
 8   top level family      91 non-null     object
 9   genus wals            100 non-null    object
 10  family wals           100 non-null    object
 11  macroarea glotto      100 non-null    object
 12  macroarea wals        100 non-null    object
 13  latitude glotto       100 non-null    float64
 14  longitude glotto      100 non-null    float64
 15  latitude wals         100 non-null    float64
 16  longitude wals        100 non-null    float64
 17  name                  82 non-null     object
 18  folder language name  82 non-null     object
dtypes: float64(4), object(15)
memory usage: 15.0+ KB

In [17]:
new = old[['iso639 3', 'name wals', 'family wals']]

In [18]:
new = new.rename(columns={'iso639 3': 'Iso639-3', 'name wals': 'Name-WALS', 'family wals': 'Family-WALS'})

In [19]:
new

   Iso639-3 Name-WALS          Family-WALS
0       abk    Abkhaz  Northwest Caucasian
1       amp  Alamblak                Sepik
2       aey     Amele     Trans-New Guinea
3       apu   Apurinã             Arawakan
4       bmi   Bagirmi      Central Sudanic
..      ...       ...                  ...
95      mzh     Wichí             Matacoan
96      yad     Yagua          Peba-Yaguan
97      yaq     Yaqui          Uto-Aztecan
98      yor    Yoruba          Niger-Congo
99      zul      Zulu          Niger-Congo

[100 rows x 3 columns]

In [20]:
new.to_csv('langInfo100LCclean.csv', index=False)